* {
  font-family: RobotoRegular;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: var(--main-color);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: RobotoRegular, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-weight: 500;
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input::placeholder {
  user-select: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html,
body {
  height: 100%;
}

li {
  list-style: none;
}

@font-face {
  font-display: swap;
  font-family: RobotoRegular;
  src: local("Roboto-Regular"), url("./fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: RobotoMedium;
  src: local("Roboto-Medium"), url("./fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: RobotoBold;
  src: local("Roboto-Bold"), url("./fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  min-height: 100%;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

picture img {
  width: 100%;
  display: block;
}

:root {
  --main-color: #353535;
  --white-color: #FFFFFF;
  --red-color: #E31E24;
  --green-color: #32893B;
  --dark-grey: #898989;
  --light-gray: #ECECEC;
  --light-gray2: #F1F1F1;
  --base-transition: all .3s ease;
}

.no-scroll {
  overflow: hidden;
  padding-right: 15px;
}

.overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  background: #3D3D3D;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19;
  opacity: 0.6;
}

.overlay.active {
  display: block;
}

// .btn {
//   border: none;
//   background: var(--red-color);
//   color: var(--white-color);
//   padding: 20px 60px;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 20px;
//   text-transform: uppercase;
//   cursor: pointer;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin: 0 auto;
//   transition: 0.3s ease;
// }

// .btn:hover {
//   background: #DB4A40;
// }

// .btn:active {
//   background: #CF554D;
// }

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


header {
  height: 195px;
  background: #ffb2b2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.18);
}

footer {
  height: 750px;
  background: #ffb2b2;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background: #F1F1F1;
}

.breadcrumbs {
  margin: 18px 0 32px;

  &__list {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;

    &:last-child .breadcrumbs__link {
      color: #0E0E0E;
    }
  }

  &__link {
    color: #898989;
    font-family: RobotoRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__span {
    margin: 0 4px;
  }
}

.tabs {

  &__item {
    display: none;

    &.is-active {
      display: block;
    }
  }
}

.page-title {
  color: #353535;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 32px 0 24px;
  font-family: RobotoMedium;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;

  &__btns {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 2px 2px 2px 0px rgba(215, 215, 215, 0.25);
    width: 285px;
    padding: 10px 0px;
  }

  &__items {
    width: 895px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 2px 2px 2px 0px rgba(215, 215, 215, 0.25);
    padding: 36px;
  }

  &__btn {
    border: none;
    background: #fff;
    color: #353535;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 22.5px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: var(--base-transition);

    &.is-active {
      border-left: 2px solid #E31E24;
      color: #E31E24;
    }

    &.is-active .badges {
      stroke: #E31E24;
    }

    &:hover {
      color: #E31E24;

      & .badges {
        stroke: #E31E24;
      }
    }
  }
}


/* adaptive */
@media screen and (max-width: 1349px) {

  .container {
    max-width: 1000px;
  }

}

@media screen and (max-width: 1023px) {

  .container {
    max-width: 720px;
  }

}

@media screen and (max-width: 767px) {

  .container {
    max-width: 100%;
    padding: 0 24px;
  }

  .no-scroll {
    padding-right: 0;
  }

}

@media screen and (max-width: 479px) {

  .container {
    padding: 0 16px;
  }

}