* {
  font-family: RobotoRegular;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: var(--main-color);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: RobotoRegular, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-weight: 500;
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
  background: #D9D9D9;

  &:hover {
    background: #D9D9D9;
  }
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input::placeholder {
  user-select: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html,
body {
  height: 100%;
}

li {
  list-style: none;
}

@font-face {
  font-display: swap;
  font-family: RobotoRegular;
  src: local("Roboto-Regular"), url("./fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: RobotoMedium;
  src: local("Roboto-Medium"), url("./fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: RobotoBold;
  src: local("Roboto-Bold"), url("./fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  min-height: 100%;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

picture img {
  width: 100%;
  display: block;
}

:root {
  --main-color: #353535;
  --white-color: #FFFFFF;
  --red-color: #E31E24;
  --green-color: #32893B;
  --dark-grey: #898989;
  --light-gray: #ECECEC;
  --light-gray2: #F1F1F1;
  --base-transition: all .3s ease;
}

.no-scroll {
  overflow: hidden;
  padding-right: 15px;
}

.overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(36, 36, 36, 0.30);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19;
  opacity: 0.6;
}

.overlay.active {
  display: block;
}


fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


header {
  height: 195px;
  background: #ffb2b2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.18);
}

footer {
  height: 750px;
  background: #ffb2b2;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background: #F1F1F1;
}

.breadcrumbs {
  background: #F1F1F1;
  padding: 18px 0 32px;

  &__list {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;

    &:last-child .breadcrumbs__link {
      color: #0E0E0E;
    }
  }

  &__link {
    color: #898989;
    font-family: RobotoRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__span {
    margin: 0 4px;
  }
}

.tabs {

  &__item {
    display: none;

    &.is-active {
      display: block;
    }
  }
}

.pagination {

  &__list {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__link {
    color: #898989;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #898989;
    transition: var(--base-transition);

    &:hover {
      background: #CCC;
      color: #353535;
      border: 1px solid #CCC;
    }

    &._back {
      border: none;
      padding: 0;
      transform: rotate(270deg);

      &:hover {
        background: transparent;

        .icon.chevron {
          stroke: #E31E24;
        }
      }
    }

    &._forward {
      border: none;
      padding: 0;
      transform: rotate(90deg);

      &:hover {
        background: transparent;

        .icon.chevron {
          stroke: #E31E24;
        }
      }
    }

    &.active {
      background: #E31E24;
      color: #fff;
      border: 1px solid #E31E24;
    }
  }
}

.page-title {
  color: #353535;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 32px 0 24px;
  font-family: RobotoMedium;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;

  &__btns {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 2px 2px 2px 0px rgba(215, 215, 215, 0.25);
    width: 285px;
    height: max-content;
    padding: 10px 0px;
  }

  &__items {
    width: 895px;
    background: #F1F1F1;
  }

  &__btn {
    border: none;
    background: #fff;
    color: #353535;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 22.5px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: var(--base-transition);

    &.is-active {
      border-left: 2px solid #E31E24;
      color: #E31E24;
    }

    &.is-active .badges {
      stroke: #E31E24;
    }

    &:hover {
      color: #E31E24;

      & .badges {
        stroke: #E31E24;
      }
    }
  }

  &__btn--mobile {
    display: none;
  }

  &__btns-modal {
    display: none;
  }
}

.profile {
  border-radius: 10px;
  box-shadow: 2px 2px 2px 0px rgba(215, 215, 215, 0.25);
  padding: 36px;
  background: #fff;

  &__input-wrap {
    width: 452px;
    height: 48px;
    padding: 6px 16px;
    border-radius: 4px;
    background: #F1F1F1;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    color: #353535;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
    font-family: RobotoMedium;
  }

  &__subtitle {
    margin-bottom: 16px;
    color: #353535;
    font-family: RobotoMedium;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #353535;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    pointer-events: none;
  }

  &__label {
    color: #898989;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 3px;
  }

  &__icon-edit {
    position: absolute;
    right: -40px;
    top: 11px;
    width: 24px;
    height: 24px;
  }

  &__icon-view {
    background: url('../assets/svg/not-View.svg');
    position: absolute;
    right: 16px;
    top: 13px;
    width: 24px;
    height: 24px;
    cursor: pointer;

    &.hide {
      background: url('../assets/svg/View.svg');
    }
  }

  .verification-message {
    color: #E31E24;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 8px;

    a {
      color: #E31E24;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-bottom: 1px solid #E31E24;
    }
  }


  &__holder {
    position: relative;
    margin-top: 32px;

    .info-message {
      position: absolute;
      top: 93px;
      color: #898989;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .profile__input-wrap {
      margin-bottom: 34px;
      display: flex;
      align-items: flex-start;
      justify-content: center;


      &:last-child {
        margin-bottom: 0;
      }
    }

    .profile__input {
      pointer-events: all;
    }
  }

  // Стилизация чекбокса 
  input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 24px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    background: #D9D9D9;
    transition: background .3s, border-color .3s, outline .2s;

    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform .3s ease, opacity .2s;
    }

    &:checked {
      background-color: #E31E24;
      transition: transform .6s cubic-bezier(.2, .85, .32, 1.2), opacity .3s;

      &:hover {
        background-color: #D6171D;
      }
    }

    &:disabled {
      background-color: #F6F8FF;
      border-color: #8F8F8F;
      cursor: not-allowed;

      &:checked {
        background-color: #8F8F8F;
      }

      &+label {
        cursor: not-allowed;
      }
    }

    &:not(.switch) {
      width: 2.1rem;
    }

    &+label {
      display: inline-block;
      cursor: pointer;
      font-size: 16px;
      margin-left: 16px;
      vertical-align: top;
    }
  }

  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: .7rem;

      &:after {
        border: 2px solid #fff;
        height: 45%;
        width: 25%;
        border-top: 0;
        border-left: 0;
        left: 38%;
        top: 20%;
        transform: rotate(20deg);
      }

      &:disabled:not(:checked):after {
        border-color: #F6F8FF;
      }

      &:checked:after {
        transform: rotate(43deg);
      }
    }

    &.switch {
      min-width: 46px;
      border-radius: 1.1rem;

      &:after {
        left: 5%;
        top: 10%;
        border-radius: 50%;
        width: 45%; // 50% - <left>
        height: 80%; // 100% - (<top> * 2)
        background: #fff;
        transform: translateX(0);
      }

      &:checked:after {
        background: #F6F8FF;
        transform: translateX(100%);
      }

      &:disabled {
        &:not(:checked) {
          &:after {
            background-color: #8F8F8F;
          }
        }
      }
    }
  }

  // END Стилизация чекбокса 

  &__checkbox-wrap {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__block {
    position: relative;
    margin-top: 32px;
    margin-bottom: 46px;

    &::after {
      content: "Для получения чеков необходимо подтвердить адрес электронной почты, указанный в профиле";
      color: #898989;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      position: absolute;
      bottom: -22px;
    }

    .profile__subtitle {
      margin-bottom: 24px;
    }
  }

  &__btn {
    border-radius: 4px;
    background: #E31E24;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.688%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 452px;
    height: 48px;
    padding: 10px 16px;
    transition: var(--base-transition);

    &:hover {
      background: #D6171D;
    }

    &:active {
      background: #D6171D;
    }
  }

  &__notes {
    margin-top: 32px;
    max-width: 685px;

    p {
      color: #898989;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150.688%;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: #E31E24;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150.688%;
        border-bottom: 1px solid #E31E24;
      }
    }
  }

  &__input-email .text-help {
    position: absolute;
    bottom: -45px;
    left: 0;
    color: #898989;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__input-phone .text-help {
    position: absolute;
    bottom: -94px;
    left: 0;
    color: #898989;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

}

.bonus {

  .profile__title {
    margin-bottom: 32px;
  }

  &-map {
    background: #fff;
    border-radius: 10px;
    padding: 36px;
    box-shadow: 2px 2px 2px 0px rgba(215, 215, 215, 0.25);
  }

  // Модификаторы к разным картам
  &-map--base-map {
    .bonus__desc-btn--red {
      display: none;
    }
  }

  &-map--non-base-map {
    & .bonus__card {
      margin-top: 0;
    }

    .bonus__desc-btn--green {
      display: none;
    }

    .bonus__desc-btn--red {
      display: block;
    }
  }

  &-map--blocked {
    .bonus__card-map {
      background: #C0C0C0;
      width: 254px;
      height: 162px;
    }

    .bonus__card-quantity,
    .bonus__card-say,
    .bonus__order-quantity p {
      color: #898989;
    }

    .bonus__card-quantity {
      font-size: 24px;
    }

    .bonus__card-data {
      position: relative;
      width: 42%;

      &::after {
        content: "Карта заблокирована";
        border-radius: 4px;
        background: #F88;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 12px;
        color: #fff;
        width: 143px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0px;
      }
    }

    .bonus__card-balance {
      width: 182px;
      height: 161px;
      padding: 19px;
    }

    .bonus__card-caption {
      font-size: 12px;
    }

    .bonus__card-img {
      width: 84.24px;
      height: 24.3px;
    }

    .bonus__card-headline {
      font-size: 12px;
      margin-top: 7px;
    }

    .bonus__card-number {
      font-size: 12px;
    }

    .bonus__card-say {
      font-size: 12px;
      margin-bottom: 10px;
    }

    .bonus__desc-btn--white {
      display: none;
    }

    .bonus__desc-btn--green {
      display: none;
    }

    .bonus__desc-btn--blocked {
      display: block;
    }

    .bonus__desc-btn--red {
      display: none;
    }
  }

  &-map--non-bonuses {
    .bonus__desc-btn--red {
      display: none;
    }

    .bonus__desc-btn--green {
      display: block;
    }
  }

  // Модификаторы к разным картам

  .future-slider {
    background: #F1F1F1;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  &__card {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 48px;
  }

  &__card-balance {
    width: 226px;
    height: 200px;
    padding: 24px;
    border-radius: 15px;
    background: #F1F1F1;
    margin-right: 12px;
  }

  &__card-caption {
    color: #353535;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
  }

  &__card-quantity {
    color: #E31E24;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: RobotoMedium;
    margin-bottom: 2px;
  }

  &__card-say {
    color: #E31E24;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: RobotoMedium;
    margin-bottom: 12px;
  }

  &__card-active {
    color: #898989;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;

    span {
      color: #898989;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__card-info {
    color: #898989;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.188%;
  }

  &__card-map {
    width: 314px;
    height: 200px;
    border-radius: 15px;
    background: #E31E24;
    padding: 28px 28px 25px 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 24px;
  }

  &__card-headline {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    font-family: RobotoMedium;
    margin-top: 9px;
  }

  &__card-number {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__card-img {
    width: 104px;
    height: 30px;
  }

  &__card-heading {
    color: #898989;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
  }

  &__card-snumber {
    color: #353535;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__card-holder {
    margin-bottom: 36px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__desc {
    margin-top: 48px;
  }

  &__desc-info {
    margin-bottom: 36px;

    p {
      color: #898989;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150.688%;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__desc-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.688%;
    border-radius: 4px;
    transition: var(--base-transition);
  }

  &__desc-btns {
    display: flex;
    justify-content: space-between;
  }

  &__desc-btn--white {
    width: 384px;
    height: 48px;
    border: 1px solid #353535;
    background: #fff;
    color: #353535;

    &:hover {
      background: #CCC;
      color: #353535;
      border: none;
    }
  }

  &__desc-btn--green {
    border: none;
    background: #32893B;
    color: #FFF;
    width: 427px;
    height: 48px;

    &:hover {
      background: #25782D;
    }
  }

  &__desc-btn--blocked {
    display: none;
    width: 100%;
    height: 48px;
    border: 1px solid #353535;
    background: #fff;
    color: #353535;

    &:hover {
      background: #CCC;
      color: #353535;
      border: none;
    }
  }

  &__desc-btn--red {
    border: none;
    background: #E31E24;
    color: #FFF;
    width: 427px;
    height: 48px;

    &:hover {
      background: #D6171D;
    }
  }

  &__order-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background: #ECECEC;
    height: 56px;
    padding: 0 24px;
    cursor: pointer;
  }

  &__order-title {
    color: #353535;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: RobotoMedium;

    span {
      margin-left: 12px;
      color: #353535;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      background: #fff;
      padding: 5px;
      border-radius: 4px;
    }
  }

  &__order {
    margin-top: 32px;

    .icon.chevron {
      transform: rotate(182deg);
    }

    &.active {
      & .bonus__order-holder {
        max-height: 3500px;
      }

      .icon.chevron {
        transform: rotate(0deg);

      }
    }
  }

  &__order-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 16px;
    margin-top: 32px;
  }

  .desc {
    color: #898989;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 9px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .value {
    color: #353535;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__order-quantity {
    p {
      color: #E31E24;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      font-family: RobotoMedium;
    }
  }

  &__order-option {
    margin-left: 52px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__order-sort {
    margin-top: 32px;

    p {
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .sort-item {
      color: #898989;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      cursor: pointer;

      &:last-child {
        margin-left: 16px;
      }

      &.active {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-bottom: 1px dashed #000;
      }
    }
  }

  &__order-pagination {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }

  &__order-btn {
    display: flex;
    width: 192px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #353535;
    background: #fff;
    transition: var(--base-transition);
    user-select: none;

    &:hover {
      background: #CCC;
      color: #353535;
      border: 1px solid #CCC;
    }
  }

  &__order-holder {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-out;
  }

  .swiper-pagination {
    display: none;
  }

  &__order-no-shopping {
    margin-top: 32px;

    p {
      &:first-child {
        color: #353535;
        font-family: RobotoMedium;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 12px;
      }

      &:last-child {
        color: #353535;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      a {
        color: #E31E24;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-bottom: 1px solid #E31E24;
      }
    }

  }

  &__order-link {
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #E31E24;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 16px;
    transition: var(--base-transition);

    &:hover {
      background: #D6171D;
    }
  }

}

.order {

  &__block {
    background: #fff;
    border-radius: 10px;
    padding: 36px;
    box-shadow: 2px 2px 2px 0px rgba(215, 215, 215, 0.25);

    &:last-child {
      margin-top: 12px;
    }
  }
}


.popup-saving-profile {
  display: none;
  width: 453px;
  height: 94px;
  border-radius: 10px;
  background: #FFF;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;

  &.active {
    display: block;
  }

  &__inner {
    padding: 32px;

    P {
      color: #353535;
      font-family: RobotoMedium;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 131.688%;
    }
  }

  &__close {
    border: none;
    background: transparent;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 32px;
  }
}

.popup-privacy-policy {
  display: none;
  width: 794px;
  height: 672px;
  border-radius: 10px;
  background: #FFF;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;

  &.active {
    display: block;
  }

  &__inner {
    padding: 32px 13px 32px 32px;
    height: 100%;
    overflow: hidden;
  }

  &__title {
    color: #353535;
    font-family: RobotoMedium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 131.688%;
    margin-bottom: 24px;
  }

  &__desc {
    color: #353535;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 149.688%;
    margin-bottom: 24px;
  }

  &__subtitle {
    color: #353535;
    font-family: RobotoBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 149.688%;
    text-transform: uppercase;
  }

  p {
    color: #353535;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 149.688%;
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__close {
    border: none;
    background: transparent;
    position: absolute;
    right: 32px;
    top: 32px;
  }

  &__content {
    height: 92%;
    overflow-y: scroll;
    padding-right: 16px;

    &::-webkit-scrollbar {
      width: 3px;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #D9D9D9;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #E31E24;
      border-radius: 10px;
      border: px solid #E31E24;
    }
  }
}

.popup-new-card {
  display: none;
  width: 516px;
  height: 572px;
  border-radius: 10px;
  background: #FFF;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;

  &.active {
    display: block;
  }

  &__inner {
    padding: 32px;
  }

  &__title {
    color: #353535;
    font-family: RobotoMedium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 131.688%;
    margin-bottom: 24px;
    max-width: 300px;
  }

  &__warn {
    border-radius: 5px;
    background: #FFE3E3;
    margin-bottom: 16px;
    padding: 16px;

    p {
      color: #353535;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 149.688%;
    }

    a {
      color: #353535;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 149.688%;
      border-bottom: 1px solid #353535;
    }
  }

  &__text {
    color: #353535;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 149.688%;
    margin-bottom: 24px;
  }

  &__close {
    border: none;
    background: transparent;
    position: absolute;
    top: 40px;
    right: 15px;
    transform: translate(-50%, -50%);
  }

  &__input-wrap {
    border-radius: 4px;
    background: #F1F1F1;
    display: flex;
    padding: 6px 16px;
    align-items: flex-start;
    position: relative;

    &.phone {
      width: 452px;
      height: 48px;
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 12px;
    }

    &.select-item {
      width: 179px;
      height: 48px;
      display: flex;
      flex-direction: column-reverse;

      svg {
        position: absolute;
        right: 16px;
        transform: rotate(180deg);
        cursor: pointer;
      }

    }

    &.number {
      width: 261px;
      height: 48px;
      display: flex;
      align-items: center;
    }
  }

  &__input {
    border: none;
    outline: none;
    background: transparent;
    color: #353535;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;

    &.selecting-item {
      cursor: pointer;

      &.active~.popup-new-card__list {
        display: block;
      }
    }
  }

  &__label {
    color: #898989;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__list {
    display: none;
    position: absolute;
    top: 50px;
    background: #fff;
    width: 100%;
    left: 0;
    border-radius: 4px;
    border: 1px solid #F1F1F1;
    z-index: 5;
    width: 179px;
    box-shadow: 0px 0px 7px 0px rgba(144, 144, 144, 0.25);
  }

  &__item {
    color: #353535;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 16px;
    cursor: pointer;
    transition: var(--base-transition);

    &:hover {
      color: #E31E24;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 24px;

    .pristine-error.text-help {
      position: absolute;
      bottom: -16px;
      top: unset !important;
      left: 0;
      font-size: 12px;
      color: #898989;
    }
  }

  &__btn {
    border-radius: 4px;
    background: #32893B;
    display: flex;
    width: 452px;
    height: 48px;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.688%;
    transition: var(--base-transition);

    &:hover {
      background: #25782D;
    }
  }

  .pristine-error.text-help {
    position: absolute;
    top: -16px;
    left: 0;
    font-size: 12px;
    color: #898989;
  }

}

.popup-block-card {
  display: none;
  width: 453px;
  height: 198px;
  border-radius: 10px;
  background: #FFF;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;

  &.active {
    display: block;
  }

  &__inner {
    padding: 32px;
  }

  &__title {
    color: #353535;
    font-size: 24px;
    font-family: RobotoMedium;
    font-style: normal;
    font-weight: 500;
    line-height: 131.688%;
  }

  &__close {
    border: none;
    background: transparent;
    position: absolute;
    top: 42px;
    right: 15px;
    transform: translate(-50%, -50%);
  }

  &__box {
    margin-top: 24px;
    width: 100%;
    display: flex;
    column-gap: 8px;
  }

  &__btn {
    border: none;
    outline: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.688%;
    background: transparent;
    width: 50%;
    height: 48px;
    border-radius: 4px;
    transition: var(--base-transition);
  }

  &__btn--white {
    border: 1px solid #353535;
    color: #353535;

    &:hover {
      background: #CCC;
      border: 1px solid #CCC;
    }
  }

  &__btn--green {
    background: #32893B;
    color: #fff;

    &:hover {
      background: #25782D;
    }
  }
}

/* adaptive */
@media screen and (max-width: 1349px) {

  .container {
    max-width: 1000px;
  }

  .content__btns {
    width: 245px;
  }

  .content__items {
    width: 730px;
  }

  .bonus {
    &__desc-btn {
      width: 306px;
    }

    &__order-option {
      margin-left: 20px;
    }

    // Модификаторы к разным картам
    &-map--blocked {
      .bonus__card-balance {
        width: 176px;
        height: 156px;
        padding: 16px;
      }

      .bonus__card-map {
        background: #C0C0C0;
        width: 245px;
        height: 156px;
        padding: 22px;
      }


      .bonus__card-data {
        width: unset;
        padding-top: 40px;

        &::after {
          width: 165px;
          height: 24px;
          position: absolute;
          top: 0;
          right: unset;
          left: 0;
        }
      }

      .bonus__card-caption {
        font-size: 14px;
        margin-bottom: 6px;
      }

      .bonus__card-quantity {
        margin-bottom: 0;
      }

      .bonus__card-active {
        margin-bottom: 6px;
      }

      .bonus__card-img {
        width: 81px;
        height: 23px
      }

      .bonus__card-snumber {
        font-size: 14px;
      }

      .bonus__card-heading {
        font-size: 14px;
      }

      .bonus__card-holder {
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .bonus__desc-btn {
        width: 100%;
      }

    }

    // Модификаторы к разным картам
  }

}

@media screen and (max-width: 1023px) {

  .container {
    max-width: 672px;
  }

  .page-title {
    display: none;
  }

  .breadcrumbs {
    &__link {
      font-size: 12px;
    }
  }

  .content {
    flex-direction: column;
    margin-bottom: 48px;

    &__btns {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
      padding: 0;
      margin-bottom: 12px;
    }

    &__btn {
      flex-direction: column;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 15px 16px;

      &:first-of-type {
        border-radius: 10px 0 0 10px;
      }

      &:nth-last-child(3) {
        border-radius: 0 10px 10px 0;
      }

      &.is-active {
        border-left: none
      }
    }

    &__items {
      width: 100%;
    }

  }

  .profile {
    padding: 24px;

    &__title {
      font-size: 20px;
    }

    &__subtitle {
      font-size: 18px;
    }

    &__input-wrap {
      width: 474px;
    }

    &__input {
      font-size: 14px;
    }

    &__icon-edit {
      right: -58px;
    }

    & input[type=checkbox]+label {
      font-size: 14px;
    }

    &__btn {
      width: 100%;
    }

    &__notes {
      margin-top: 32px;
      max-width: 100%;

      p {
        font-size: 14px;

        a {
          font-size: 14px;
        }
      }
    }


  }

  .bonus {
    &-map {
      padding: 24px;
    }

    &__card-balance {
      width: 176px;
      height: 156px;
      padding: 16px;
      margin-right: 12px;
    }

    &__card-caption {
      font-size: 14px;
      margin-bottom: 6px;
    }

    &__card-quantity {
      font-size: 24px;
      margin-bottom: 0;
    }

    &__card-say {
      font-size: 12px;
      margin-bottom: 9px;
    }

    &__card-active {
      margin-bottom: 6px;
    }

    &__card-map {
      width: 244px;
      height: 156px;
      padding: 22px 22px 20px 22px;
    }

    &__card-img {
      width: 81px;
      height: 23px;
    }

    &__card-headline {
      font-size: 12px;
      margin-top: 7px;
    }

    &__card-number {
      font-size: 12px;
    }

    &__card-heading {
      font-size: 14px;
    }

    &__card-snumber {
      font-size: 14px;
    }

    &__card-holder {
      margin-bottom: 24px;
    }

    &__card {
      margin-top: 32px;
    }

    &__desc {
      margin-top: 32px;
    }

    &__desc-info {
      p {
        font-size: 14px;
      }
    }

    &__order-box {
      padding: 0 16px;
    }

    &__order-sort {
      p {
        font-size: 14px;

        .sort-item {
          font-size: 14px;

          &.active {
            font-size: 14px;
          }
        }
      }
    }

    &__order-item {
      flex-direction: column;
    }

    &__order-option {
      margin-left: 0;
    }

    &__order-quantity {
      margin-bottom: 24px;
    }

    &__order-pagination {
      margin-top: 48px;
    }

    &__order-no-shopping {
      margin-top: 32px;

      p {
        &:first-child {
          font-size: 14px;
        }

        &:last-of-type {
          font-size: 14px
        }

        a {
          font-size: 14px;
        }
      }

    }

  }

  .popup-saving-profile {
    width: 499px;

    &__inner {

      P {
        font-size: 20px;
        text-align: center;
      }
    }

    &__close {
      right: 90px;
    }
  }

  .popup-privacy-policy {
    width: 673px;
    height: 768px;

  }

  .popup-new-card {
    width: 516px;
    height: 492px;

    &__title {
      font-size: 20px;
      max-width: 100%;
    }

    &__warn {

      p {
        font-size: 14px;
      }

      a {
        font-size: 14px;
      }
    }

    &__text {
      font-size: 14px;
    }

    &__close {
      top: 48px;
    }
  }
}

@media screen and (max-width: 767px) {

  .container {
    max-width: 100%;
    padding: 0 16px;
  }

  .no-scroll {
    padding-right: 0;
  }

  .breadcrumbs {
    padding: 16px 0;
  }

  .pagination {
    &__link {
      font-size: 14px;
      padding: 8px 15px;
    }
  }

  .content {

    // &__items {
    //   padding: 24px 16px;
    // }

    &__btns {
      position: fixed;
      bottom: 0;
      width: -webkit-fill-available;
      left: 10px;
      right: 10px;
      bottom: 20px;
      z-index: 20;
      box-shadow: 0px 4px 18px 0px rgba(210, 210, 210, 0.25);
      margin-bottom: 0;
      height: 60px;
    }

    &__btn {
      max-width: 60px;
      max-height: 60px;
      min-width: 60px;
      min-height: 60px;
      font-size: 10px;
      padding: 0;
      padding-top: 8px;
    }

    &__btn--mobile {
      display: flex;
      border-radius: 0 10px 10px 0;

      &:hover {
        color: #353535;
      }
    }

    &__btn-mobile-hidden {
      display: none;
    }

    &__btns-modal {
      display: none;
      flex-direction: column;
      position: absolute;
      bottom: 64px;
      right: 0;
      width: 177px;
      background: #fff;
      border-radius: 10px;

      &.active {
        display: flex;
      }

      .content__btn {
        display: flex;
        align-items: center;
        flex-direction: row;
        max-width: unset;
        max-height: unset;
        min-width: unset;
        min-height: unset;
        border-radius: 10px;
        padding: 10px 12px;
        padding: 6px 12px;
      }

      .badges {
        width: 24px;
        height: 24px;
        margin-bottom: 0;
        margin-right: 12px;
      }
    }
  }

  .profile {
    padding: 24px 16px;

    &__input-wrap {
      width: 100%;
    }

    &__box .profile__input-wrap {
      width: calc(100% - 48px);
    }

    &__input {
      text-overflow: ellipsis;
    }

    &__icon-edit {
      right: -36px;
    }

    .verification-message {
      padding-right: 57px;
    }

    &__checkbox-wrap {
      display: flex;
    }

    &__block {
      margin-bottom: 62px;

      &::after {
        bottom: -44px;
      }
    }
  }

  .bonus {

    // Модификаторы к разным картам
    &-map--blocked {
      .bonus__card-balance {
        width: 100%;
        height: 177px;
        margin-right: 0;
        margin-bottom: 16px;
        padding: 24px;
      }

      .bonus__card-caption {
        margin-bottom: 8px;
      }

      .bonus__card-quantity {
        font-size: 36px;
      }

      .bonus__card-say {
        font-size: 14px;
        margin-bottom: 12px;
      }

      .bonus__card-active {
        margin-bottom: 8px;
      }

      .bonus__card-map {
        width: 100%;
        height: 188px;
        padding: 26px 26px 25px 26px;
        margin-right: 0;
        margin-bottom: 22px;
      }

      .bonus__card-img {
        width: 104px;
        height: 30px;
      }

      .bonus__card-headline {
        font-size: 14px;
        margin-top: 9px;
      }

      .bonus__card-number {
        font-size: 14px;
      }

      .bonus__card-data {
        width: 100%;
        padding-top: 36 px;

        &::after {
          width: 100%;
        }
      }
    }

    // END Модификаторы к разным картам

    &__card {
      flex-direction: column;
    }

    &__card-balance {
      width: 100%;
      height: 177px;
      margin-right: 0;
      margin-bottom: 16px;
      padding: 24px;
    }

    &__card-caption {
      margin-bottom: 8px;
    }

    &__card-quantity {
      font-size: 36px;
    }

    &__card-say {
      font-size: 14px;
      margin-bottom: 12px;
    }

    &__card-active {
      margin-bottom: 8px;
    }

    &__card-map {
      width: 100%;
      height: 188px;
      padding: 26px 26px 25px 26px;
      margin-right: 0;
      margin-bottom: 22px;
    }

    &__card-img {
      width: 104px;
      height: 30px;
    }

    &__card-headline {
      font-size: 14px;
      margin-top: 9px;
    }

    &__card-data {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &__card-holder {
      margin-bottom: 0;
    }

    &__desc {
      margin-top: 24px;
      display: flex;
      flex-direction: column-reverse;
    }

    &__desc-btns {
      flex-direction: column;
      row-gap: 8px;
    }

    &__desc-btn {
      width: 100%;
    }

    &__desc-info {
      margin-bottom: 0;
      margin-top: 24px;
    }

    &__order {
      margin-top: 16px;
    }

    &__order-title {
      font-size: 18px;

      span {
        margin-left: 7px;
      }
    }

    &__order-sort {
      margin-top: 16px;
    }

    &__order-item {
      padding: 0;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      align-items: flex-start;
    }

    &__order-quantity {
      margin-bottom: 0;
    }

    &__order-option {
      flex-direction: column;
      width: unset;
    }

    .desc {
      font-size: 14px;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 12px;
      }
    }

    .value {
      font-size: 14px;
    }

    &-map {
      padding: 24px 10px;
    }

    &__order-box {
      padding: 0 9px 0 16px;
    }

    &__order-pagination {
      margin-top: 25px;
    }

    .swiper-pagination {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 15px;

      span {
        width: 6px;
        height: 6px;
      }

      .swiper-pagination-bullet-active {
        opacity: var(--swiper-pagination-bullet-opacity, 1);
        background: #E31E24;
      }
    }

    &__order-no-shopping {
      margin-top: 16px;
    }

    &__order-link {
      display: flex;
    }

  }

  .popup-saving-profile {
    width: 288px;
    height: 88px;

    &__inner {
      padding: 32px 15px;

      P {
        font-size: 18px;
        text-align: unset;
      }
    }

    &__close {
      right: 20px;
    }
  }

  .popup-privacy-policy {
    width: 100%;
    height: 80%;


    &__inner {
      padding: 16px;
    }

    &__title {
      width: 250px;
      font-size: 20px;
      margin-bottom: 16px;
    }

    &__close {
      right: 16px;
      top: 16px;
    }

    &__content {
      height: 89%;
      overflow-y: scroll;
      padding-right: 10px;
    }
  }

  .popup-new-card {
    width: 320px;
    height: auto;

    &__inner {
      padding: 16px 10px;
    }

    &__close {
      top: 27px;
      right: 0;
    }

    &__text {
      font-size: 14px;
      padding-right: 10px;
    }

    &__input-wrap {

      &.phone,
      &.select-item,
      &.number {
        width: 100%;
      }
    }

    &__box {
      flex-direction: column;
      row-gap: 12px;
    }

    &__input {
      font-size: 14px;
    }

    &__list {
      width: 100%;
    }

    &__item {
      font-size: 14px;
      padding: 8px 16px;
    }

    &__btn {
      width: 100%;
    }
  }

  .popup-block-card {
    width: 288px;
    height: 166px;

    &__inner {
      padding: 16px;
    }

    &__title {
      font-size: 18px;
    }

    &__close {
      top: 25px;
      right: 0px;
    }

    &__box {
      margin-top: 24px;
      width: 100%;
      display: flex;
      column-gap: 8px;
    }

    &__btn {
      border: none;
      outline: none;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150.688%;
      background: transparent;
      width: 50%;
      height: 48px;
      border-radius: 4px;
      transition: var(--base-transition);
    }

    &__btn--white {
      border: 1px solid #353535;
      color: #353535;

      &:hover {
        background: #CCC;
        border: 1px solid #CCC;
      }
    }

    &__btn--green {
      background: #32893B;
      color: #fff;

      &:hover {
        background: #25782D;
      }
    }
  }

}

@media screen and (max-width: 375px) {
  .profile {
    &__holder {
      .profile__input-wrap {
        margin-bottom: 48px;
      }
    }
  }

  .bonus {
    .sort-item--mob {
      display: flex;
      justify-content: space-between;
    }

    &__order-sort {
      .sort-item:last-child {
        margin-left: 0;
      }
    }
  }
}